<header>
  <div class="container">
    <div
      class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
    >
      <a
        href="/"
        class="d-flex align-items-center text-dark text-decoration-none"
      >
        <img class="img-logo" src="../assets/book.png" />
        <span class="fs-5 fw-bold">Pawlse Book Rental</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a routerLink="/home" class="me-3 py-2 text-dark text-decoration-none fw-normal">Home</a>
        <a routerLink="/library" class="me-3 py-2 text-dark text-decoration-none fw-normal">Library</a>
        <a routerLink="/contact" class="me-3 py-2 text-dark text-decoration-none fw-normal">Contact</a>
      </nav>
    </div>
  </div>
</header>
