<div class="banner">
  <div class="slider">
    <img src="assets/img/2.jpg" alt="book" id="sliderImg">
  </div>
  <div class="overlay">
  </div>
  <div class="content">
    <h1>Welcome</h1>
    <h3>Where Stories Begin and Adventures Unfold! <br>Dive into a World of Books with Us.</h3>
    <div class="buttons">
      <a href="/borrower-registration" class="btn btn-primary">Borrower Signup</a>
      <a href="/borrower-login" class="btn btn-secondary">Borrower Login</a>
      <a href="/admin-login" class="btn btn-success">Admin Login</a>
    </div>
  </div>
</div>
